{% extends './layout.html' %}

{% block main-content %}

    {% for post in posts %}
    <a class="post" href={% url 'post_detail' post_id=post.id %}>
    <div class="card post-card mx-4 my-2 text-start p-2">
        <div class="card-header">{{post.title}}<span class="author">by: {{post.author}}</span></div>
        <div class="card-body text-dark">
            <strong>{{post.body}}</strong><br/><br/>
            Number of Comments: {{post.comments|length}}
        </div>
    </div>
    </a>
    {% endfor %}

    <a class="new-post" href={% url 'new_post' %}><button type="button" class="btn btn-success">New Post</button></a>
{% endblock %}